/* !CSS RESET - josh w comeau*/
/* Link to reset: https://www.joshwcomeau.com/css/custom-css-reset/*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ANIMAL BASE TABLE STYLING - PLACEHOLDER */
[data-action] {
  cursor: pointer;
}

#sorting th.sortby {
  text-decoration: underline;
}

#sorting th.sortby[data-sort-direction="asc"]::after {
  content: "⇓";
}

#sorting th.sortby[data-sort-direction="desc"]::after {
  content: "⇑";
}

#list {
  border-collapse: collapse;
}

#list tbody tr td {
  padding: 4px;
}

#list tbody tr:nth-child(odd) td {
  background-color: lightblue;
  border-right: rgb(240, 249, 255) 1px dotted;
}

#list tbody tr:nth-child(even) td {
  border-right: rgb(171, 219, 252) 1px dotted;
}

/*! FROM HERE ON; MY OWN STYLING*/

.container {
  --max-width: 900px;
  --container-padding: 1.5rem;

  width: min((var(--max-width)), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

.filteringOptions {
  display: flex;
  margin-bottom: 2rem;
  gap: 1rem;
}

.filteringOptions ol > li {
  padding: 0 0 0.5rem 0.2rem;
}

table {
  background-color: rgb(245, 245, 245);
  font-family: Helvetica, Arial, sans-serif, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 3rem;
}

thead {
  background-color: rgb(47, 47, 47);
  color: white;
}

td,
th {
  border: 1px solid #dddddd;
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: #d5d4d4;
}

[data-field="modal"] {
  text-align: center;
}

.studentStatistics {
  background-color: rgb(48, 48, 48);
  color: white;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
}

.studentStatistics > ol {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.prefectImg,
.inqSquadImg {
  opacity: 35%;
}

.isPrefect,
.isInqSquad {
  opacity: 100%;
}

.hidden {
  display: none;
}

/* Modal */
.modal {
  background-color: rgba(87, 87, 87, 0.523);
  color: white;
  display: flex;
  flex-direction: row;
  position: fixed;
  margin: auto;
  align-self: center;
  border-radius: 10px;
  width: 70%;
  z-index: 1;
}

.inqSquadImg,
.prefectImg {
  width: 50px;
  height: auto;
}

.hidden {
  display: none;
}
